*{
  font-family: 'Bebas Neue', cursive;
  font-weight: 500;
}

header{
  background: transparent;
  text-align: center;
}

h1 {
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h1 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 50px;
  line-height: 50px;
  color: yellow;
  text-shadow: 0 13.36px 8.896px rgb(201, 201, 11),0 -2px 1px #000;
  letter-spacing: -4px;
}

body{
  width: 940px;
  height: auto;
  margin: 0 auto;
  background-image: url(img/fondo-encriptador.PNG);
}

#contenedor-principal{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.formato-secciones{
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background: transparent;
  display: inline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

textarea{
  color: yellow;
  border-style: none;
  resize: inherit;  
  background: rgba(5, 7, 12, 0.40);
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  font-size: large;
  font-family: 'Helvetica', 'Verdana';
}

::placeholder{ color: yellow; text-align:center; font-size: larger; padding: 10px;}

p{
  color: yellow;
}

#aclaracion-texto-input{
  font-size: 13px;
  color: yellow;
  margin-top: 10px;
}

#contenedor-botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

#btn-encriptar{
  position: relative;
  margin-right: 45px;
}

.botones{
  color: #fefefe;
  background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
  padding: 10px;
  border-radius: 10px;
  border-color: blue;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

.botones:hover {
  background: linear-gradient(180deg, #65bce8 0%, #3064FF 100%);
}

.botones:active{
  background: linear-gradient(180deg, #65bce8 0%, #3064FF 100%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#mensaje-error{
  display: inline-block;
  margin-top: 25px;
  padding: 5px; 
 }

.error{
  margin-top: 5px;
  border: 3px dashed red;
  border-radius: 5px;
  color: yellow;
  font-size: large;
}

#borrar-todo{
  width: 125px;
  height: 60px;
  align-self: center;
}

#no-se-encontro-texto{
  margin-top: 15px;
  font-size: large;
}

#contenedor-botones-resultado{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

#btn-copiar-mensaje{
  margin-top: 10px;
}

.ocultar{
  display: none; 
}

footer{
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

footer > label{
  margin-right: 35px;
  font-size: 25px;
} 

a{
  text-decoration: none;
}

a:hover{
  border-bottom: 2px solid;
}

a:active{
  color: yellow;
}

